@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@mixin clearfix {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
header::after{
    @include clearfix
}
header{
    position: relative;
    width: 1000px;
    border: 1px solid #e7e7e7;
    ul{
        float: left;
    }
    ul::after{
        @include clearfix
    }
    li{
        float: left;
        width: 81px;
        height: 38px;
        text-align: center;
        border-right: 1px solid #e7e7e7;
        a{
            font-size: 12px;
            line-height: 38px;
            color: #777;
        }
        i{
            display: inline-block;
            width: 8px;
            height: 11px;
            margin-left: 5px;
            background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) -60px -20px no-repeat;
        }
    }
    span{
        display: inline-block;
        padding: 0 15px 0 15px;
        font-size: 12px;
        line-height: 38px;
        color: #777;
        border-right: 1px solid #e7e7e7;
        input{
            display: inline-block;
            width: 46px;
            height: 20px;
            padding: 4px 5px;
            border: 1px solid #e7e7e7;
            outline: none;
            color: #333;
            background: white;
        }
    }
    .search_page{
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px 10px 0 0;
        a{
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        em{
            display: inline-block;
            width: 45px;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
            color: #777;
            text-align: center;
            vertical-align: top;
        }
        .left{
            background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) no-repeat 0 -200px;
        }
        .right{
            background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) no-repeat -35px -200px;
        }
    }
}