@charset "utf-8";
.detail_header{
    background-color: #f6f6f6;
    margin-bottom: 16px;
    li{
        float: right;
        a{
            font-size: 13px;
            line-height: 46px;
            color: #5e5e5e;
            margin-left: 20px;
        }
        .shop{
            display: inline-block;
            width: 16px;
            height: 15px;
            background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
            background-position: 0 -100px;
        }
        .service{
            display: inline-block;
            width: 21px;
            height: 20px;
            background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
            background-position: 0 -167px;
        }
    }
}
.detail .detail_l{
   float: left;
   position: relative;
   .spic{
       width: 448px;
       height: 448px;
       position: relative;
       border: 1px solid #D9D9D9;
       cursor: cell;
       img{
           width: 448px;
           height: 448px;
       }
       #sf{
           width: 200px;
           height: 200px;
           position: absolute;
           background: #ccc;
           opacity: 0.3;
           display: none;
       }
       .glass{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 20;
        width: 24px;
        height: 21px;
        overflow: hidden;
        text-align: center;
        background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat 0 -800px;
       }
   }
   #bf{
        width: 448px;
        height: 448px;
        border: 1px solid #D9D9D9;
        position: absolute;
        left: 448px;
        top: 0;
        display: none;
        overflow: hidden;
        z-index: 999;
        #bpic{
            position: absolute;
        }
    }
    #ulist{
        width: 450px;
        height: 62px;
        margin: 20px 0 16px;
        position: relative;
        overflow: hidden;
        span{
            display: inline-block;
            width: 11px;
            height: 21px;
            background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
            position: absolute;
        }
        #list{
            position: relative;
        }
        #left span{
            background-position: 0 -834px;
            top: 20px;
            left: 0;
            z-index: 999;
        }
        #right span{
            background-position: 0 -865px;
            top: 20px;
            right: 0;
        }
        #list ul{
            margin-left: 25px;
            position: absolute;
        }
        #list li{
            margin-right: 25px;
            float: left;
            border: 1px solid transparent;
            width: 60px;
            height: 60px;
        }
        #list li:hover{
            border: 1px solid $activecolor;
        }
        #list img{
            width: 60px;
            height: 60px;
        }
    }
}
.detail .detail_r{
    width: 720px;
    float: left;
    margin-left: 30px;
    h2{
        font-size: 16px;
        line-height: 26px;
        color: #5e5e5e;
        font-weight: 600;
        padding-top: 5px;
        width: 610px;
    }
    .lasttime{
        width: 720px;
        height: 38px;
        background: url(https://gfs10.gomein.net.cn/T11hZvBvbj1RCvBVdK.png) no-repeat;
        h3{
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            line-height: 38px;
            color: white;
            margin: 0 20px 0 60px;
        }
        p{
            display: inline-block;
            font-size: 12px;
            line-height: 38px;
            color: white;
            vertical-align: middle;
            span{
                display: inline-block;
                width: 20px;
                height: 20px;
                background: black;
                line-height: 20px;
                text-align: center;
            }
        }
    }
    .price_box{
        width: 690px;
        height: 52px;
        padding: 20px 10px 0 20px;
        background: #f6f6f6;
        position: relative;
        label{
            color: #888;
            float: left;
            line-height: 34px;
            font-size: 12px;
        }
    }
    .price{
        float: left;
        font-size: 24px;
        color: $activecolor;
        font-weight: 700;
        margin: 0 10px 0 15px;
        line-height: 34px;
    }
    .old{
        float: left;
        color: #888;
        float: left;
        line-height: 34px;
        font-size: 12px;
        text-decoration: line-through;
        margin-right: 10px;
    }
    .cut{
        float: left;
        a{
            line-height: 34px;
            color: #069;
            font-size: 12px;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .evaluate{
        float: right;
        border-left: 3px solid #ccc;
        padding-left: 5px;
        p{
            color: #5e5e5e;
            font-size: 12px;
            line-height: 12px;
        }
        a{
            color: #069;
            font-size: 12px;
            line-height: 12px;
        }
        a:hover{
            text-decoration: underline;
        }
        i{
            font-style: normal;
        }
    }
    .tese{
        margin-top: 20px;
        label{
            margin-left: 20px;
            color: #888;
            float: left;
            line-height: 20px;
            font-size: 12px;
            width: 48px;
            text-align: justify;
            margin-right: 10px;
        }
        span{
            display: inline-block;
            width: 86px;
            height: 18px;
            border-radius: 10px 0 0 10px;
            border: 1px solid #61819f;
            a{
                display: inline-block;
                color: #61819f;
                font-size: 12px;
                vertical-align: top;
            }
            a:hover{
                color: $activecolor;
            }
        }
        span i{
            display: inline-block;
            background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
        span:nth-child(2) i{
            background-position: 0 -2665px;
        }
        span:nth-child(3) i{
            background-position: 0 -2613px;
        }
    }
    .place{
        margin-top: 20px;
        label{
            margin-left: 20px;
            color: #888;
            float: left;
            line-height: 20px;
            font-size: 12px;
            width: 48px;
            text-align: justify;
            margin-right: 10px;
        }
        .adress{
            float: left;
            line-height: 20px;
            font-size: 12px;
            color: #5e5e5e;
            position: relative;
            i{
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 6px;
                right: -14px;
                top: 50%;
                margin-top: -3px;
                background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
                background-position: 0 -632px;
            }
        }
    }
    .color{
        margin-top: 16px;
        height: 49px;
        label{
            margin-left: 20px;
            color: #888;
            float: left;
            line-height: 42px;
            font-size: 12px;
            width: 48px;
            text-align: justify;
            margin-right: 10px;
        }
        a{
            display: inline-block;
            width: 90px;
            height: 40px;
            border: 1px solid #ccc;
            img{
                width: 40px;
                height: 40px;
            }
            span{
                display: inline-block;
                width: 24px;
                height: 12px;
                padding: 14px 10px;
                font-size: 12px;
                line-height: 12px;
                color: #5e5e5e;
            }
        }
    }
    .service{
        height: 42px;
        label{
            margin-left: 20px;
            color: #888;
            float: left;
            line-height: 38px;
            font-size: 12px;
            width: 48px;
            text-align: justify;
            margin-right: 10px;
        }
        span{
            padding: 11px 8px 11px 30px;
            position: relative;
            border: 1px solid #ccc;
            display: inline-block;
            cursor: pointer;
            font-size: 12px;
            line-height: 12px;
            color: #5e5e5e;
            i{
                display: inline-block;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 9px;
                left: 8px;
                img{
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    .tocart{
        padding-left: 20px;
        margin-bottom: 10px;
        margin-top: 34px;
        height: 42px;
        .input_box{
            margin-right: 15px;
            position: relative;
            float: left;
            width: 46px;
            height: 38px;
            border: 1px solid #ccc;
            input{
                border: 0;
                outline: none;
                width: 32px;
                border: none;
                line-height: 38px;
                text-align: center;
                float: left;
                height: 38px;
                color: #5e5e5e;
                font-size: 12px;
            }
            .cell{
                display: block;
                float: left;
                width: 13px;
                height: 18px;
                border-left: 1px solid #ccc;
                line-height: 18px;
                text-align: center;
                border-bottom: 1px solid #ccc;
                color: #5e5e5e;
                background: #f8f8f8;
                font-size: 12px;
            }
            .minus{
                display: block;
                float: left;
                width: 13px;
                height: 18px;
                border-left: 1px solid #ccc;
                line-height: 18px;
                text-align: center;
                color: #5e5e5e;
                background: #f8f8f8;
                font-size: 12px;
            }
        }
    }
    button{
        border: 0;
        outline: none;
        padding: 8px 25px;
        height: 24px;
        font-size: 18px;
        line-height: 22px;
        background: $activecolor;
        color: white;
        box-sizing: content-box;
        cursor: pointer;
    }
}