@charset "utf-8";
.search{//搜索栏
    overflow: hidden;
    height: 120px;
    position: relative;
    .logo{//logo
        a{
            display: inline-block;
            width: 125px;
            height: 56px;
            margin: 32px 10px 0 0;
            background: url(../img/logo.png) 0 0 no-repeat;
        }
    }
    .logo-gif{
        a{
            display: inline-block;
            width: 100px;
            height: 50px;
            margin: 35px 0 0 10px;
            background: url(../img/T11wZmBX_T1RCvBVdK.jpg) 0 0 no-repeat;
        }
    }
    .logo,.logo-gif{
        float: left;
    }

    form{//搜索框
        width: 500px;
        height: 52px;
        margin: 34px auto;
        p{
            width: 100%;
            height: 30px;
            border: 1px solid $themecolor;
            font-size: 14px;
            color: #A5A5A5;
            line-height: 30px;
            overflow: hidden;
            label{
                display: inline-block;
                width: 62px;
                height: 30px;
                border-right: 1px solid $themecolor;
                text-align: center;
            }
            input{
                border: 0;
                outline: none;
                width: 316px;
                height: 30px;
                margin: 0 5px;
            }
            span{
                display: inline-block;
                width: 15px;
                height: 30px;
                position: absolute;
                top: 0;
                left: -15px;
                color: #dd00a7;
            }
            button{
                border: 0;
                outline: none;
                width: 90px;
                height: 30px;
                background: $themecolor;
                float: right;
                color: white;
                cursor: pointer;
                text-align: center;
                font-size: 16px;
                line-height: 30px;
                position: relative;
            }
        }
        li:first-child{
            color: $activecolor;
        }
        li{
            height: 20px;
            float: left;
            font-size: 12px;
            line-height: 20px;
            color: #A5A5A5;
            margin-right: 14px;
        }
    }

    .shopcartbox{//购物车
        cursor: pointer;
        width: 140px;
        height: 39px;
        position: absolute;
        right: 0;
        top: 40px;
        overflow: hidden;
        .icon-3{
            color: #5E5E5E;
            font-size: 31px;
            margin-top: 4px;
            line-height: 39px;
            vertical-align: middle;
        }
        .count{
            margin-left: 5px;
            font-size: 12px;
            color: #5E5E5E;
            line-height: 39px;
            vertical-align: middle;
        }
    }
    .shopcartbox::after{
        content: "";
        display: inline-block;
        border-width: 4px 4px 0 4px;
        border-style: solid;
        border-color: #5E5E5E transparent transparent transparent;
        position: absolute;
        right: 10px;
        top: 19px;
    }
}