@charset "utf-8";
#elevator{
    position: fixed;
    text-align: center;
    bottom: 150px;
    left: 40px;
    background: white;
    .fl_nav{
        width: 66px;
        height: 32px;
        background: #f6f6f6;
        color: #5e5e5e;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 31px;
        border: 1px solid #e6e6e6;
    }
    ul{
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
    }
    li{
        cursor: pointer;
        border-bottom: 1px solid #e6e6e6;
        overflow: hidden;

    }
    .louti li:hover,.louti li:hover span{
        color: $activecolor;
    }
    .louti li{
        width: 64px;
        height: 43px;
        font-size: 12px;
        color: #5e5e5e;
        position: relative;
        b{
            position: absolute;
            width: 10px;
            height: 10px;
            background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) -152px 0 no-repeat;
            top: 0;
            left: 0;
            display: none;
        }
        span{
            height: 12px;
            line-height: 12px;
            color: #777;
            padding-top: 8px;
            padding-bottom: 1px;
            display: inline-block;
        }
        p{
            line-height: 16px;
        }
    }
    .arrow li:first-child:hover a{
        background-position: -216px -78px;
    }
    .arrow li:nth-child(2):hover a{
        background-position: -216px -26px;
    }
    .arrow li{
        height: 29px;
        a{
            display: inline-block;
            width: 17px;
            height: 9px;
            margin-top: 10px;
            background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat;
        }
        .arrow_up{
            background-position: -216px -52px;
        }
        .arrow_down{
            background-position: -216px 0;
        }
    }
}