@charset "utf-8";
main{//主体
    .center{
        padding-top: 20px;
    }
    .everyday{//每日必抢
        height: 272px;
        .left{//左边列表
            width: 950px;
            border-width: 1px;
            border-style: solid;
            border-color: $themecolor #e6e6e6 #e6e6e6 #e6e6e6;
            float: left;
            .header{
                border-bottom: 1px solid #e6e6e6;
            }
            h3{
                width: 201px;
                height: 40px;
                font-size: 18px;
                line-height: 40px;
                color: $activecolor;
                background: url(https://gfs12.gomein.net.cn/T1ovZvBTbb1RCvBVdK.jpeg) no-repeat 5px 0;
                text-indent: 45px;
                float: left;
            }
            .timebox{
                width: 239px;
                float: right;
                height: 40px;
                .time{
                    font-size: 12px;
                    line-height: 40px;
                    color: $activecolor;
                }
                .tbox{
                    display: inline-block;
                    width: 27px;
                    height: 27px;
                    border-radius: 5px;
                    background: $activecolor;
                    color: white;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                }
                .dot{
                    font-size: 20px;
                    line-height: 40px;
                    color: $activecolor;
                }
            }
            ul{
                padding-top: 15px;
                height: 195px;
                li{
                    width: 237px;
                    height: 179px;
                    border-right: 1px solid #eee;
                    float: left;
                }
                li:last-child{
                    border: 0;
                    width: 236px;
                }
                img{
                    width: 120px;
                    height: 120px;
                    margin-left: 58px;
                }
                .p_price{
                    margin: 6px 0 0 20px;
                    .price{
                        font-size: 20px;
                        line-height: 22px;
                        color: $activecolor;
                    }
                    .origin{
                        font-size: 12px;
                        line-height: 14px;
                        color: #999;
                        text-decoration: line-through;
                    }
                }
                .title{
                    width: 196px;
                    overflow: hidden;
                    margin-left: 20px;
                    font-size: 12px;
                    height: 18px;
                    line-height: 18px;
                    color: #5e5e5e;
                }
            }
        }

        .right{//右边图片
            float: right;
            img{
                width: 240px;
                height: 252px;
                float: right;
            }
        }
    }

    .bargains{//淘实惠
        height: 481px;
        background: pink;
        section{
            border: 1px solid #e6e6e6;
        }
        h2{
            width: 70px;
            height: 27px;
            margin-top: 28px;
            text-indent: -9999px;
            float: left;
            background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat;
        }
        span{
            display: inline-block;
            padding: 27px 0 0 9px;
            font-size: 20px;
            line-height: 30px;
            color: #ccc;
        }
        .header{
            overflow: hidden;
        }
        .bargains_l,.bargains_c{
            width: 420px;
            margin-right: 10px;
            float: left;
            .pic_l{
                float: left;
                img{
                    width: 219px;
                    height: 419px;
                }
            }
            .pic_r{
                float: left;
                img{
                    display: block;
                    width: 199px;
                    height: 209px;
                }
                .top{
                    border-bottom: 1px dashed #eee;
                }
            }
        }
        .bargains_l{
            h2{
                background-position: -169px -100px;
            }
        }
        .bargains_c{
            h2{
                background-position: -169px -132px;
            }
        }
        .bargains_r{
            h2{
                background-position: -169px -164px;
            }
        }
    }
    .youlike{
        height: 326px;
        background: darkgray;
    }
    .oneF{
        height: 541px;
        .header{
            border-bottom: 1px solid #719ef7;
            h2{
                width: 210px;
                float: left;
                font-size: 20px;
                line-height: 38px;
            }
            .tab{
                float: right;
                margin-top: 8px;
                li{
                    float: left;
                }
                a{
                    display: inline-block;
                    width: 56px;
                    padding: 0 15px;
                    font-size: 14px;
                    text-align: center;
                    color: #5e5e5e;
                    line-height: 30px;
                }
            }
        }
        .bottom{
            section{
                float: left;
            }
            .oneF_l{
                width: 210px;
                height: 470px;
                background: chartreuse;
            }
            .oneF_r{
                width: 990px;
                li{
                    float: left;
                    width: 197px;
                    height: 234px;
                    border-right: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                }
                img{
                    width: 130px;
                    height: 130px;
                    margin: 20px 0 15px 34px;
                }
                .title{
                    width: 157px;
                    height: 36px;
                    margin-left: 20px;
                    font-size: 12px;
                    color: #5e5e5e;
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .price{
                    height: 20px;
                    line-height: 26px;
                    color: #ff0027;
                    font-size: 14px;
                    margin-left: 20px;
                }
            }
        }
    }
    .twoF{
        height: 541px;
        background: orange;
    }
    .threeF{
        height: 541px;
        background: yellow;
    }
    .fourF{
        height: 541px;
        background: green;
    }
    .fiveF{
        height: 541px;
        background: skyblue;
    }
    .sixF{
        height: 541px;
        background: blue;
    }
    .sevenF{
        height: 541px;
        background: purple;
    }
    .hot{
        height: 400px;
        background: rosybrown;
    }
    .gome-help{
        height: 222px;
        background: fuchsia;
    }
}