.nav {
  height: 31px;
  background: #f8f8f8;
}

.nav nav li {
  float: left;
  font-size: 12px;
  line-height: 31px;
  padding: 0 20px 0 10px;
  position: relative;
}

.nav nav .left {
  float: left;
}

.nav nav .right {
  float: right;
}

.nav nav .first {
  margin-right: 10px;
}

.nav nav a {
  display: inline-block;
  height: 31px;
  color: #888;
}

.nav nav a i {
  width: 12px;
  height: 13px;
  margin: -4px 0 0 5px;
  background: url(../img/ui.png);
  background-position: -145px -1496px;
  position: static;
}

.nav nav em {
  width: 18px;
  height: 30px;
  background: url(../img/ui.png);
}

.nav nav i {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 7px;
  height: 4px;
  background: url(../img/ui.png);
  background-position: -62px -433px;
}
