@charset "utf-8";
.menu{//菜单栏
    height: 38px;
    border-bottom: 1px solid $themecolor;
    background: #f8f8f8;
    h2{
        float: left;
        width: 185px;
        padding-left: 15px;
        background: #f8f8f8;
        a{
            display: inline-block;
            font-size: 15px;
            color: #585858;
            line-height: 37px;
        }
        span{
            width: 18px;
            height: 12px;
            margin: 13px 17px;
            float: right;
            background: url(../img/ui.png) 0 -1344px no-repeat;
            display: none;
        }
    }
    ul{
        float: left;
        li{
            float: left;
            padding: 0 13px;
            a{
                font-size: 15px;
                line-height: 38px;
                color: #000;
                position: relative;
            }
            .active{
                color: $activecolor;
            }  
            .third::after,.seventh::after{
                content: "";
                display: block;
                width: 1px;
                height: 13px;
                position: absolute;
                top: 4px;
                right: -13px;
                background: #b2b2b2;
            }
        }
    }
    .wrap{
        float: right;
        width: 194px;
        height: 38px;
        position: relative;
        overflow: hidden;
        ul{
            float: left;
            position: absolute;
            img{
                width: 170px;
                height: 40px;
            }
        }
        .arrow{
            display: inline-block;
            width: 9px;
            height: 5px;
            background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
            position: absolute;
            border: 1px solid transparent;
        }
        .arrow:hover{
            border: 1px solid #e4e4e4;
            background-color: #efefef;
        }
        .arrow_up{
            background-position: -20px -1348px;
            top:12px;
            right: 0;
        }
        .arrow_down{
            background-position: -20px -1353px;
            bottom: 12px;
            right: 0;
        }
    }
}