.search {
  overflow: hidden;
  height: 120px;
}

.search .logo a {
  display: inline-block;
  width: 125px;
  height: 56px;
  margin: 32px 10px 0 0;
  background: url(../img/logo.png) 0 0 no-repeat;
}

.search .logo-gif a {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 35px 0 0 10px;
  background: url(../img/T11wZmBX_T1RCvBVdK.jpg) 0 0 no-repeat;
}

.search .logo, .search .logo-gif {
  float: left;
}

.search form {
  width: 500px;
  height: 52px;
  margin: 34px auto;
}

.search form p {
  width: 100%;
  height: 30px;
  border: 1px solid;
}
