.banner {
  height: 450px;
  background: #eef9ff;
}

.banner .left {
  float: left;
  background: #333;
  opacity: .7;
}

.banner .left ul li {
  width: 170px;
  height: 30px;
  padding: 0 15px;
}

.banner .left ul li a {
  color: white;
  font-size: 14px;
  line-height: 30px;
}

.banner .middle {
  float: left;
  width: 750px;
  height: 450px;
}

.banner .right {
  float: left;
  width: 250px;
  height: 430px;
  margin-top: 10px;
  background: white;
}
