@charset "utf-8";
.banner{//轮播图
    height: 450px;
    background: rgb(238, 249, 255);
    .center{
        position: relative;
    }
    .left{
        width: 200px;
        height: 450px;
        position: relative;
        float: left;
        opacity: .7;
        background: #333;
        li:hover{
            background: white;
        }
        li:hover a{
            color: #333;
        }
        ul li{
            width: 170px;
            height: 30px;
            padding: 0 15px;
            a{
                color: white;
                font-size: 14px;
                line-height: 30px;
            }
            a:hover{
                color: $activecolor;
            }
        }
    }
    .banner_hide{
        width: 998px;
        height: 448px;
        background: white;
        border: 1px solid #222;
        position: absolute;
        left: 200px;
        display: none;
        z-index: 2222;
    }
    .middle{
        float: left;
        width: 750px;
        height: 450px;
        position: relative;
        ul li{
            position: absolute;
            top: 0;
            left: 0;
        }
        ol{
            width: 304px;
            position: absolute;
            top: 430px;
            left: 223px;
        }
        ol li{
            width: 30px;
            height: 5px;
            margin: 0 4px;
            background: rgba(0,0,0,0.3);
            float: left;
            cursor: pointer;
        }
        .active{
            background: $activecolor;
        }
        .arrow{
            width: 40px;
            height: 80px;
            position: absolute;
            background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat;
            top: 185px;
            background-color: black;
            opacity: 0.2;
            cursor: pointer;
        }
        #left{
            background-position: 0 -112px;
            right: 42px;
        }
        #right{
            background-position: -42px -112px;
            right: 0;
        }
    }
    .right{
        float: left;
        width: 250px;
        height: 430px;
        margin-top: 10px;
        background: white;
        .news{
            height: 146px;
            margin: 0 15px;
            border-bottom: 1px dashed #ccc;
        }
        h3{
            font-size: 14px;
            float: left;
            color: #333;
            margin-top: 12px;
            font-weight: 400;
            line-height: 21px;
        }
        .news_header a{
            font-size: 12px;
            text-align: center;
            margin-top: 13px;
            color: #888;
            float: right;
        }
        .news_header i{
            width: 5px;
            height: 9px;
            background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) -126px -130px no-repeat;
            display: inline-block;
            margin-left: 4px;
        }
        .news_header a:hover{
            color:$activecolor;
        }
        .news li{
            height: 26px;
            font-size: 12px;
            line-height: 26px;
            a:hover{
                color:$activecolor;
            }
            a{
                color: #888;
            }
            span{
                display: inline-block;
                margin-right: 7px;
            }
        }
        .server_box ul{
            padding-left: 15px;
        }
        .server_box li:nth-child(3n){
            margin-right: 0;
        }
        .server_box li{
            float: left;
            text-align: center;
            width: 55px;
            margin-right: 29px;
            span{
                margin: 9px 0;
                display: inline-block;
                font-size: 32px;
                color: #373737;
            }
            p{
                color: #5e5e5e;
                font-size: 12px;
                line-height: 20px;
            }
        }
        .server_box li:hover span,.server_box li:hover p{
            color: $activecolor;
        }
        .pic{
            position: relative;
            .title_box{
                position: absolute;
                top: 14px;
                left: 15px;
                color: #fff;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}