@charset "utf-8";
main{
    .everyday{
        height: 272px;
        background: skyblue;
    }
    .bargains{
        height: 481px;
        background: pink;
    }
    .youlike{
        height: 326px;
        background: darkgray;
    }
    .oneF{
        height: 541px;
        background: red;
    }
    .twoF{
        height: 541px;
        background: orange;
    }
    .threeF{
        height: 541px;
        background: yellow;
    }
    .fourF{
        height: 541px;
        background: green;
    }
    .fiveF{
        height: 541px;
        background: skyblue;
    }
    .sixF{
        height: 541px;
        background: blue;
    }
    .sevenF{
        height: 541px;
        background: purple;
    }
    .hot{
        height: 400px;
        background: rosybrown;
    }
    .gome-help{
        height: 222px;
        background: fuchsia;
    }
}