@charset "utf-8";
.safeTip{
    background-color: #fff4e3;
    p{
        width: 828px;
        height: 29px;
        padding-left: 10px;
        margin: 0 auto;
        color: #ff7f23;
        font-size: 12px;
        line-height: 29px;
    }
    em{
        float: left;
        width: 16px;
        height: 16px;
        margin: 8px 5px 0 0;
        background: url(https://css.gomein.net.cn/images/loginfront/login/login-bg-common.png) no-repeat -28px 0;
    }
    a{
        color: #2875cc;
    }
    a:hover{
        text-decoration: underline;
    }
}
main{
    background: #fff1e8;
    .bg{
        height: 480px;
        background-image: url(https://gfs10.gomein.net.cn/T1ruLjBvd_1RCvBVdK.jpg);
    }
    .login_box{
        width: 350px;
        float: right;
        margin-top: 24px;
        margin-right: 105px;
        position: relative;
        background: #fff;
    }
    .login_box_head{
        height: 54px;
        .head_left,.head_right{
            float: left;
            width: 50%;
            overflow: hidden;
        }
        a{
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            color: #5e5e5e;
            border-right: 1px solid #f4f4f4;
            width: 99%;
            text-align: center;
            margin-top: 18px;
        }
        .last{
            border: 0;
        }
        .active{
            color: $activecolor;
        }
    }
    .login_box_main{
        border-top: 1px solid #f4f4f4;
        padding: 30px 30px 0 30px;
        position: relative;
        .warn{
            height: 22px;
            width: 290px;
            font-size: 12px;
            line-height: 22px;
            color: $activecolor;
            position: absolute;
            top: 5px;
            left: 30px;
            background: #fee;
            display: none;
            i{
                display: inline-block;
                margin: 4px 5px 0 10px;
                width: 14px;
                height: 14px;
                background: url(https://css.gomein.net.cn/images/loginfront/login/spr-icon.png) no-repeat -41px -54px;
                vertical-align: top;
            }
        }
        .user,.pass{
            height: 52px;
        }
        .user input,.pass input{
            outline: none;
            padding: 8px 10px 7px;
            width: 268px;
            height: 25px;
            border: 1px solid #ccc;
            color: #333;
            font-size: 14px;
            line-height: 21px;
        }
        .auto{
            padding: 10px 0 12px;
            font-size: 12px;
            line-height: 18px;
            .left{
                float: left;
                color: #5e5e5e;
            }
            .right{
                float: right;
            }
            input{
                vertical-align: middle;
            }
            a:hover{
                text-decoration: underline;
            }
            .forget{
                color: #5e5e5e;
            }
            .forget:hover{
                color: $activecolor;
            }
            .free{
                color: #2875cc;
            }
        }
        button{
            border: 0;
            outline: none;
            cursor: pointer;
            box-sizing: content-box;
            width: 100%;
            height: 42px;
            background: #ff5757;
            color: white;
            font-size: 18px;
            line-height: 42px;
            font-weight: 500;
        }
        .phone{
            padding: 30px 0 15px;
            a{
                color: #2875cc;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .login_box_footer{
        border: 1px solid #f0f0f0;
        padding: 9px 20px;
        ul{
            float: left;
        }
        li{
            float: left;
            overflow: hidden;
            a{
                display: inline-block;
                color: #5e5e5e;
                font-size: 12px;
                line-height: 18px;
                margin: 6px 0;
                padding: 0 8px;
                border-right: 1px solid #e6e6e6;
            }
            a:hover{
                color: $activecolor;
                text-decoration: underline;
            }
            .last{
                border: 0;
            }
        }
        i{
            margin-top: 5px;
            width: 19px;
            height: 19px;
            background: url(https://css.gomein.net.cn/images/loginfront/login/login-bg-common.png) no-repeat;
            float: right;
            cursor: pointer;
        }
    }
}