@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:".";
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    clear:both;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
}

li{
    list-style: none;
}

.center{
    width: 1200px;
    margin: 0 auto;
}
$themecolor:#dd00a7;
$activecolor:#f5004b;