* {
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

a {
  text-decoration: none; }

img {
  vertical-align: top; }

li {
  list-style: none; }

.center {
  width: 1200px;
  margin: 0 auto; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

header {
  height: 90px;
  background: #ff465d; }
  header .center {
    position: relative; }
    header .center h1 {
      text-indent: -9999px;
      background: url(https://gfs12.gomein.net.cn/T16th7BXA_1RCvBVdK.jpg) no-repeat;
      cursor: pointer;
      width: 100%;
      height: 90px; }
    header .center a {
      display: inline-block;
      width: 12px;
      height: 12px;
      padding: 6px;
      position: absolute;
      right: 3px;
      top: 3px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) -60px -466px no-repeat;
      z-index: 999;
      background-origin: content-box;
      background-clip: content-box; }

.nav {
  height: 31px;
  background: #f8f8f8;
  border-bottom: 1px solid #f3f3f3; }
  .nav nav li {
    float: left;
    font-size: 12px;
    line-height: 29px;
    padding: 0 20px 0 10px;
    position: relative;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    height: 30px; }
    .nav nav li .active {
      color: #f5004b; }
  .nav nav .arrow_active {
    background: white;
    border-color: #e6e6e6;
    border-bottom: 1px solid white; }
    .nav nav .arrow_active i {
      background-position: -55px -433px; }
  .nav nav .public-dropdown {
    width: 290px;
    height: 200px;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    background: white;
    z-index: 999;
    display: none; }
    .nav nav .public-dropdown .top {
      width: 290px;
      height: 55px;
      padding: 5px 0 20px 0; }
      .nav nav .public-dropdown .top em {
        float: left;
        width: 55px;
        height: 55px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat 0 -337px; }
      .nav nav .public-dropdown .top p {
        float: left;
        padding-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: #888; }
      .nav nav .public-dropdown .top a {
        color: #069; }
    .nav nav .public-dropdown .bottom {
      width: 290px;
      height: 98px;
      padding-top: 15px;
      border-top: 1px solid #f3f3f3; }
      .nav nav .public-dropdown .bottom .arrow {
        margin-top: 20px;
        float: left;
        width: 16px;
        height: 29px; }
      .nav nav .public-dropdown .bottom .arrow_left {
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -60px -357px; }
      .nav nav .public-dropdown .bottom .arrow_right {
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -76px -357px; }
      .nav nav .public-dropdown .bottom .wrap {
        margin-top: 10px;
        float: left;
        width: 240px;
        padding: 0 4px;
        text-align: center; }
        .nav nav .public-dropdown .bottom .wrap li {
          padding: 0;
          border: 0; }
        .nav nav .public-dropdown .bottom .wrap .iconfont {
          display: inline-block;
          width: 80px;
          height: 40px;
          font-size: 40px; }
        .nav nav .public-dropdown .bottom .wrap a {
          display: inline-block;
          width: 80px;
          font-size: 12px;
          line-height: 30px;
          color: #ccc; }
    .nav nav .public-dropdown .bottom > p {
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      color: #5e5e5e; }
      .nav nav .public-dropdown .bottom > p a {
        height: 18px;
        float: right;
        color: #ccc; }
  .nav nav .mygome-dropdown {
    width: 260px;
    height: 240px;
    background: yellowgreen;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
    z-index: 999; }
  .nav nav .company-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -1px;
    display: none;
    z-index: 999; }
  .nav nav .serve-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
    z-index: 999; }
  .nav nav .website-dropdown {
    width: 1198px;
    height: 200px;
    background: slateblue;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -101px;
    display: none;
    z-index: 999; }
  .nav nav .phone-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -1px;
    display: none;
    z-index: 999; }
  .nav nav .left {
    float: left; }
  .nav nav .right {
    float: right; }
  .nav nav .first {
    margin-right: 10px; }
  .nav nav a {
    display: inline-block;
    height: 31px;
    color: #888; }
    .nav nav a i {
      width: 12px;
      height: 13px;
      margin: -4px 0 0 5px;
      background: url(../img/ui.png);
      background-position: -145px -1496px;
      position: static; }
  .nav nav .icon-kefu, .nav nav .icon-phone {
    background-position: 0 -513px;
    color: #dd00a7; }
  .nav nav i {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 7px;
    height: 4px;
    background: url(../img/ui.png);
    background-position: -62px -433px; }

.search_box {
  height: 50px;
  width: 100%;
  background: white;
  position: fixed;
  top: -50px; }

.search {
  overflow: hidden;
  height: 120px;
  position: relative; }
  .search .logo a {
    display: inline-block;
    width: 125px;
    height: 56px;
    margin: 32px 10px 0 0;
    background: url(../img/logo.png) 0 0 no-repeat; }
  .search .logo-gif a {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 35px 0 0 10px;
    background: url(../img/T11wZmBX_T1RCvBVdK.jpg) 0 0 no-repeat; }
  .search .logo, .search .logo-gif {
    float: left; }
  .search form {
    width: 500px;
    height: 52px;
    margin: 34px auto;
    position: relative; }
    .search form .search_hide {
      width: 62px;
      height: 50px;
      border: 1px solid #dd00a7;
      position: absolute;
      top: 31px;
      left: 0;
      z-index: 999;
      background: white;
      display: none; }
      .search form .search_hide a {
        display: block;
        color: #A5A5A5;
        font-size: 14px;
        line-height: 25px;
        height: 25px;
        text-align: center; }
      .search form .search_hide a:hover {
        background: #eee; }
    .search form p {
      width: 502px;
      height: 30px;
      border: 1px solid #dd00a7;
      font-size: 14px;
      color: #A5A5A5;
      line-height: 30px;
      overflow: hidden; }
      .search form p label {
        display: inline-block;
        width: 62px;
        height: 30px;
        border-right: 1px solid #dd00a7;
        text-align: center; }
      .search form p input {
        border: 0;
        outline: none;
        width: 316px;
        height: 30px;
        margin: 0 5px; }
      .search form p span {
        display: inline-block;
        width: 15px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -15px;
        color: #dd00a7; }
      .search form p button {
        border: 0;
        outline: none;
        width: 90px;
        height: 30px;
        background: #dd00a7;
        float: right;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        position: relative; }
    .search form li:first-child {
      color: #f5004b; }
    .search form li {
      height: 20px;
      float: left;
      font-size: 12px;
      line-height: 20px;
      color: #A5A5A5;
      margin-right: 14px; }
  .search .shopcartbox {
    cursor: pointer;
    width: 140px;
    height: 39px;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden; }
    .search .shopcartbox .icon-3 {
      color: #5E5E5E;
      font-size: 31px;
      margin-top: 4px;
      line-height: 39px;
      vertical-align: middle; }
    .search .shopcartbox .count {
      margin-left: 5px;
      font-size: 12px;
      color: #5E5E5E;
      line-height: 39px;
      vertical-align: middle; }
    .search .shopcartbox .active {
      color: #f5004b;
      text-decoration: underline; }
  .search .shopcartbox::after {
    content: "";
    display: inline-block;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #5E5E5E transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 19px; }

.menu {
  height: 38px;
  border-bottom: 1px solid #dd00a7;
  background: #f8f8f8; }
  .menu h2 {
    float: left;
    width: 185px;
    padding-left: 15px;
    background: #f8f8f8; }
    .menu h2 a {
      display: inline-block;
      font-size: 15px;
      color: #585858;
      line-height: 37px; }
    .menu h2 span {
      width: 18px;
      height: 12px;
      margin: 13px 17px;
      float: right;
      background: url(../img/ui.png) 0 -1344px no-repeat;
      display: none; }
  .menu ul {
    float: left; }
    .menu ul li {
      float: left;
      padding: 0 13px; }
      .menu ul li a {
        font-size: 15px;
        line-height: 38px;
        color: #000;
        position: relative; }
      .menu ul li .active {
        color: #f5004b; }
      .menu ul li .third::after, .menu ul li .seventh::after {
        content: "";
        display: block;
        width: 1px;
        height: 13px;
        position: absolute;
        top: 4px;
        right: -13px;
        background: #b2b2b2; }
  .menu .wrap {
    float: right;
    width: 194px;
    height: 38px;
    position: relative;
    overflow: hidden; }
    .menu .wrap ul {
      float: left;
      position: absolute; }
      .menu .wrap ul img {
        width: 170px;
        height: 40px; }
    .menu .wrap .arrow {
      display: inline-block;
      width: 9px;
      height: 5px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
      position: absolute;
      border: 1px solid transparent; }
    .menu .wrap .arrow:hover {
      border: 1px solid #e4e4e4;
      background-color: #efefef; }
    .menu .wrap .arrow_up {
      background-position: -20px -1348px;
      top: 12px;
      right: 0; }
    .menu .wrap .arrow_down {
      background-position: -20px -1353px;
      bottom: 12px;
      right: 0; }

footer {
  border-top: 1px solid #dd00a7;
  background: #f7f7f7;
  padding-top: 20px; }
  footer .top {
    position: relative; }
    footer .top span {
      display: inline-block;
      width: 265px;
      height: 45px;
      padding: 0 50px 40px 0; }
      footer .top span i {
        width: 45px;
        height: 45px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
        float: left; }
      footer .top span p {
        float: left;
        margin-left: 10px; }
      footer .top span strong {
        display: block;
        font-weight: 400;
        color: #333;
        font-size: 16px;
        line-height: 25px; }
      footer .top span a {
        color: #999;
        font-size: 12px;
        line-height: 20px; }
    footer .top span:first-child i {
      background-position: 0 -135px; }
    footer .top span:nth-child(2) i {
      background-position: -45px -135px; }
    footer .top li {
      float: left;
      padding-right: 13px; }
      footer .top li a {
        font-size: 12px;
        line-height: 22px;
        color: #666; }
    footer .top p {
      color: #999;
      font-size: 12px;
      line-height: 22px; }
      footer .top p a {
        color: #999; }
    footer .top .qrcode-section {
      width: 250px;
      height: 112px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center; }
      footer .top .qrcode-section span {
        padding: 0;
        font-size: 12px;
        line-height: 22px;
        color: #999;
        float: left; }
        footer .top .qrcode-section span p {
          margin: 0; }
      footer .top .qrcode-section i {
        display: inline-block; }
      footer .top .qrcode-section .sm {
        width: 50px;
        height: 47px;
        margin: 0 10px; }
        footer .top .qrcode-section .sm i {
          width: 40px;
          height: 25px;
          background-image: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png);
          background-repeat: no-repeat; }
        footer .top .qrcode-section .sm p {
          width: 50px; }
      footer .top .qrcode-section .wx i {
        background-position: -105px -135px; }
      footer .top .qrcode-section .phone i {
        background-position: -185px -135px; }
      footer .top .qrcode-section .big {
        width: 110px;
        height: 112px; }
        footer .top .qrcode-section .big i {
          width: 90px;
          height: 90px;
          margin-left: 10px;
          background: url(https://gfs11.gomein.net.cn/T1uZdyBXCT1RCvBVdK.jpg) no-repeat; }
        footer .top .qrcode-section .big p {
          width: 110px; }
  footer .bottom {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 25px 0; }
    footer .bottom a {
      display: inline-block;
      width: 120px;
      vertical-align: top; }
      footer .bottom a i {
        float: left;
        width: 35px;
        height: 35px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat; }
      footer .bottom a p {
        font-size: 12px;
        line-height: 18px;
        color: #999; }
    footer .bottom .big {
      width: 170px; }
    footer .bottom a:first-child i {
      background-position: 0 -180px; }
    footer .bottom a:nth-child(2) i {
      background-position: -35px -180px; }
    footer .bottom a:nth-child(3) i {
      background-position: -70px -180px; }
    footer .bottom a:nth-child(4) i {
      background-position: -105px -180px; }
    footer .bottom a:nth-child(5) i {
      background-position: -140px -180px; }
    footer .bottom a:nth-child(6) i {
      background-position: -175px -180px; }
    footer .bottom a:nth-child(7) i {
      background-position: -238px -180px; }

.detail_header {
  background-color: #f6f6f6;
  margin-bottom: 16px; }
  .detail_header li {
    float: right; }
    .detail_header li a {
      font-size: 13px;
      line-height: 46px;
      color: #5e5e5e;
      margin-left: 20px; }
    .detail_header li .shop {
      display: inline-block;
      width: 16px;
      height: 15px;
      background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
      background-position: 0 -100px; }
    .detail_header li .service {
      display: inline-block;
      width: 21px;
      height: 20px;
      background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
      background-position: 0 -167px; }

.detail .detail_l {
  float: left;
  position: relative; }
  .detail .detail_l .spic {
    width: 448px;
    height: 448px;
    position: relative;
    border: 1px solid #D9D9D9;
    cursor: cell; }
    .detail .detail_l .spic img {
      width: 448px;
      height: 448px; }
    .detail .detail_l .spic #sf {
      width: 200px;
      height: 200px;
      position: absolute;
      background: #ccc;
      opacity: 0.3;
      display: none; }
    .detail .detail_l .spic .glass {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 20;
      width: 24px;
      height: 21px;
      overflow: hidden;
      text-align: center;
      background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat 0 -800px; }
  .detail .detail_l #bf {
    width: 448px;
    height: 448px;
    border: 1px solid #D9D9D9;
    position: absolute;
    left: 448px;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 999; }
    .detail .detail_l #bf #bpic {
      position: absolute; }
  .detail .detail_l #ulist {
    width: 450px;
    height: 62px;
    margin: 20px 0 16px;
    position: relative;
    overflow: hidden; }
    .detail .detail_l #ulist span {
      display: inline-block;
      width: 11px;
      height: 21px;
      background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
      position: absolute; }
    .detail .detail_l #ulist #list {
      position: relative; }
    .detail .detail_l #ulist #left span {
      background-position: 0 -834px;
      top: 20px;
      left: 0;
      z-index: 999; }
    .detail .detail_l #ulist #right span {
      background-position: 0 -865px;
      top: 20px;
      right: 0; }
    .detail .detail_l #ulist #list ul {
      margin-left: 25px;
      position: absolute; }
    .detail .detail_l #ulist #list li {
      margin-right: 25px;
      float: left;
      border: 1px solid transparent;
      width: 60px;
      height: 60px; }
    .detail .detail_l #ulist #list li:hover {
      border: 1px solid #f5004b; }
    .detail .detail_l #ulist #list img {
      width: 60px;
      height: 60px; }

.detail .detail_r {
  width: 720px;
  float: left;
  margin-left: 30px; }
  .detail .detail_r h2 {
    font-size: 16px;
    line-height: 26px;
    color: #5e5e5e;
    font-weight: 600;
    padding-top: 5px;
    width: 610px; }
  .detail .detail_r .lasttime {
    width: 720px;
    height: 38px;
    background: url(https://gfs10.gomein.net.cn/T11hZvBvbj1RCvBVdK.png) no-repeat; }
    .detail .detail_r .lasttime h3 {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
      color: white;
      margin: 0 20px 0 60px; }
    .detail .detail_r .lasttime p {
      display: inline-block;
      font-size: 12px;
      line-height: 38px;
      color: white;
      vertical-align: middle; }
      .detail .detail_r .lasttime p span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: black;
        line-height: 20px;
        text-align: center; }
  .detail .detail_r .price_box {
    width: 690px;
    height: 52px;
    padding: 20px 10px 0 20px;
    background: #f6f6f6;
    position: relative; }
    .detail .detail_r .price_box label {
      color: #888;
      float: left;
      line-height: 34px;
      font-size: 12px; }
  .detail .detail_r .price {
    float: left;
    font-size: 24px;
    color: #f5004b;
    font-weight: 700;
    margin: 0 10px 0 15px;
    line-height: 34px; }
  .detail .detail_r .old {
    float: left;
    color: #888;
    float: left;
    line-height: 34px;
    font-size: 12px;
    text-decoration: line-through;
    margin-right: 10px; }
  .detail .detail_r .cut {
    float: left; }
    .detail .detail_r .cut a {
      line-height: 34px;
      color: #069;
      font-size: 12px; }
    .detail .detail_r .cut a:hover {
      text-decoration: underline; }
  .detail .detail_r .evaluate {
    float: right;
    border-left: 3px solid #ccc;
    padding-left: 5px; }
    .detail .detail_r .evaluate p {
      color: #5e5e5e;
      font-size: 12px;
      line-height: 12px; }
    .detail .detail_r .evaluate a {
      color: #069;
      font-size: 12px;
      line-height: 12px; }
    .detail .detail_r .evaluate a:hover {
      text-decoration: underline; }
    .detail .detail_r .evaluate i {
      font-style: normal; }
  .detail .detail_r .tese {
    margin-top: 20px; }
    .detail .detail_r .tese label {
      margin-left: 20px;
      color: #888;
      float: left;
      line-height: 20px;
      font-size: 12px;
      width: 48px;
      text-align: justify;
      margin-right: 10px; }
    .detail .detail_r .tese span {
      display: inline-block;
      width: 86px;
      height: 18px;
      border-radius: 10px 0 0 10px;
      border: 1px solid #61819f; }
      .detail .detail_r .tese span a {
        display: inline-block;
        color: #61819f;
        font-size: 12px;
        vertical-align: top; }
      .detail .detail_r .tese span a:hover {
        color: #f5004b; }
    .detail .detail_r .tese span i {
      display: inline-block;
      background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
      width: 16px;
      height: 16px;
      margin-left: 5px; }
    .detail .detail_r .tese span:nth-child(2) i {
      background-position: 0 -2665px; }
    .detail .detail_r .tese span:nth-child(3) i {
      background-position: 0 -2613px; }
  .detail .detail_r .place {
    margin-top: 20px; }
    .detail .detail_r .place label {
      margin-left: 20px;
      color: #888;
      float: left;
      line-height: 20px;
      font-size: 12px;
      width: 48px;
      text-align: justify;
      margin-right: 10px; }
    .detail .detail_r .place .adress {
      float: left;
      line-height: 20px;
      font-size: 12px;
      color: #5e5e5e;
      position: relative; }
      .detail .detail_r .place .adress i {
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 6px;
        right: -14px;
        top: 50%;
        margin-top: -3px;
        background: url(https://css.gomein.net.cn/gmpro/2.0.0/item/1.12.59/css/i/bg-sprite.png?__sprite) no-repeat;
        background-position: 0 -632px; }
  .detail .detail_r .color {
    margin-top: 16px;
    height: 49px; }
    .detail .detail_r .color label {
      margin-left: 20px;
      color: #888;
      float: left;
      line-height: 42px;
      font-size: 12px;
      width: 48px;
      text-align: justify;
      margin-right: 10px; }
    .detail .detail_r .color a {
      display: inline-block;
      width: 90px;
      height: 40px;
      border: 1px solid #ccc; }
      .detail .detail_r .color a img {
        width: 40px;
        height: 40px; }
      .detail .detail_r .color a span {
        display: inline-block;
        width: 24px;
        height: 12px;
        padding: 14px 10px;
        font-size: 12px;
        line-height: 12px;
        color: #5e5e5e; }
  .detail .detail_r .service {
    height: 42px; }
    .detail .detail_r .service label {
      margin-left: 20px;
      color: #888;
      float: left;
      line-height: 38px;
      font-size: 12px;
      width: 48px;
      text-align: justify;
      margin-right: 10px; }
    .detail .detail_r .service span {
      padding: 11px 8px 11px 30px;
      position: relative;
      border: 1px solid #ccc;
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      line-height: 12px;
      color: #5e5e5e; }
      .detail .detail_r .service span i {
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 9px;
        left: 8px; }
        .detail .detail_r .service span i img {
          width: 17px;
          height: 17px; }
  .detail .detail_r .tocart {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 34px;
    height: 42px; }
    .detail .detail_r .tocart .input_box {
      margin-right: 15px;
      position: relative;
      float: left;
      width: 46px;
      height: 38px;
      border: 1px solid #ccc; }
      .detail .detail_r .tocart .input_box input {
        border: 0;
        outline: none;
        width: 32px;
        border: none;
        line-height: 38px;
        text-align: center;
        float: left;
        height: 38px;
        color: #5e5e5e;
        font-size: 12px; }
      .detail .detail_r .tocart .input_box .cell {
        display: block;
        float: left;
        width: 13px;
        height: 18px;
        border-left: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        color: #5e5e5e;
        background: #f8f8f8;
        font-size: 12px; }
      .detail .detail_r .tocart .input_box .minus {
        display: block;
        float: left;
        width: 13px;
        height: 18px;
        border-left: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        color: #5e5e5e;
        background: #f8f8f8;
        font-size: 12px; }
  .detail .detail_r button {
    border: 0;
    outline: none;
    padding: 8px 25px;
    height: 24px;
    font-size: 18px;
    line-height: 22px;
    background: #f5004b;
    color: white;
    box-sizing: content-box;
    cursor: pointer; }

.aside {
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #5c5c5c;
  z-index: 9999; }
  .aside li:hover {
    background-color: #333; }
  .aside .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 7px 0;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat; }
  .aside .top_ul {
    position: absolute;
    right: 0;
    top: 218px;
    text-align: center; }
    .aside .top_ul li {
      border-bottom: 1px solid #ccc; }
    .aside .top_ul .us_box {
      width: 35px;
      height: 39px; }
    .aside .top_ul .us {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-top: 9px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -18px -1025px; }
    .aside .top_ul i {
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -24px -1046px !important;
      height: 20px;
      width: 31px;
      display: block !important;
      margin-bottom: 3px; }
    .aside .top_ul span {
      display: inline-block;
      width: 12px;
      font-size: 12px;
      line-height: 18px;
      color: white; }
    .aside .top_ul .cart_box {
      width: 35px;
      height: 100px;
      padding-top: 20px; }
    .aside .top_ul .favo {
      background-position: -71px -1023px; }
  .aside .bottom_ul {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 35px; }
    .aside .bottom_ul .code {
      background-position: -212px -473px; }
    .aside .bottom_ul .search {
      background-position: -212px -493px; }
    .aside .bottom_ul .service {
      background-position: -212px -513px; }
    .aside .bottom_ul .arrow {
      background-position: -212px -533px; }

.gome_help_box {
  overflow: hidden; }

.gome-help {
  margin-top: 30px; }
  .gome-help .header {
    background: #f5f5f5;
    padding: 15px 0;
    overflow: hidden; }
  .gome-help .header li {
    float: left;
    width: 33%;
    text-align: center; }
  .gome-help .header span {
    display: inline-block;
    width: 40px;
    height: 42px;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
    vertical-align: middle;
    margin-right: 10px; }
  .gome-help .header .l {
    background-position: 0 -1469px; }
  .gome-help .header .c {
    background-position: -40px -1469px; }
  .gome-help .header .r {
    background-position: -80px -1469px; }
  .gome-help .header .attr {
    line-height: 40px;
    font-size: 18px;
    line-height: 37px;
    font-weight: bold;
    color: #404040; }
  .gome-help .header b {
    margin: 0 16px;
    color: #ccc;
    display: inline-block;
    width: 3px;
    height: 10px;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png);
    vertical-align: middle;
    background-position: -120px -1489px; }
  .gome-help .header .detail {
    font-weight: 400;
    line-height: 40px;
    font: 700 18px/37px;
    color: #404040; }
  .gome-help .header a:hover {
    color: #f5004b; }

.hlep_main {
  width: 1320px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px; }
  .hlep_main dl {
    float: left;
    width: 9%;
    padding: 15px 0 0 125px;
    white-space: nowrap; }
  .hlep_main dt {
    font: 16px/25px;
    color: #5e5e5e; }
  .hlep_main a {
    font-size: 12px;
    line-height: 22px;
    color: #a5a5a5; }
  .hlep_main a:hover {
    color: #f5004b; }

/*# sourceMappingURL=detail.css.map */
