* {
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

a {
  text-decoration: none; }

img {
  vertical-align: top; }

li {
  list-style: none; }

.center {
  width: 1200px;
  margin: 0 auto; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

header {
  height: 90px;
  background: #ff465d; }
  header .center {
    position: relative; }
    header .center h1 {
      text-indent: -9999px;
      background: url(https://gfs12.gomein.net.cn/T16th7BXA_1RCvBVdK.jpg) no-repeat;
      cursor: pointer;
      width: 100%;
      height: 90px; }
    header .center a {
      display: inline-block;
      width: 12px;
      height: 12px;
      padding: 6px;
      position: absolute;
      right: 3px;
      top: 3px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) -60px -466px no-repeat;
      z-index: 999;
      background-origin: content-box;
      background-clip: content-box; }

.nav {
  height: 31px;
  background: #f8f8f8;
  border-bottom: 1px solid #f3f3f3; }
  .nav nav li {
    float: left;
    font-size: 12px;
    line-height: 29px;
    padding: 0 20px 0 10px;
    position: relative;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    height: 30px; }
    .nav nav li .active {
      color: #f5004b; }
  .nav nav .arrow_active {
    background: white;
    border-color: #e6e6e6;
    border-bottom: 1px solid white; }
    .nav nav .arrow_active i {
      background-position: -55px -433px; }
  .nav nav .public-dropdown {
    width: 290px;
    height: 200px;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    background: white;
    z-index: 999;
    display: none; }
    .nav nav .public-dropdown .top {
      width: 290px;
      height: 55px;
      padding: 5px 0 20px 0; }
      .nav nav .public-dropdown .top em {
        float: left;
        width: 55px;
        height: 55px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat 0 -337px; }
      .nav nav .public-dropdown .top p {
        float: left;
        padding-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: #888; }
      .nav nav .public-dropdown .top a {
        color: #069; }
    .nav nav .public-dropdown .bottom {
      width: 290px;
      height: 98px;
      padding-top: 15px;
      border-top: 1px solid #f3f3f3; }
      .nav nav .public-dropdown .bottom .arrow {
        margin-top: 20px;
        float: left;
        width: 16px;
        height: 29px; }
      .nav nav .public-dropdown .bottom .arrow_left {
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -60px -357px; }
      .nav nav .public-dropdown .bottom .arrow_right {
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -76px -357px; }
      .nav nav .public-dropdown .bottom .wrap {
        margin-top: 10px;
        float: left;
        width: 240px;
        padding: 0 4px;
        text-align: center; }
        .nav nav .public-dropdown .bottom .wrap li {
          padding: 0;
          border: 0; }
        .nav nav .public-dropdown .bottom .wrap .iconfont {
          display: inline-block;
          width: 80px;
          height: 40px;
          font-size: 40px; }
        .nav nav .public-dropdown .bottom .wrap a {
          display: inline-block;
          width: 80px;
          font-size: 12px;
          line-height: 30px;
          color: #ccc; }
    .nav nav .public-dropdown .bottom > p {
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      color: #5e5e5e; }
      .nav nav .public-dropdown .bottom > p a {
        height: 18px;
        float: right;
        color: #ccc; }
  .nav nav .mygome-dropdown {
    width: 260px;
    height: 240px;
    background: yellowgreen;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
    z-index: 999; }
  .nav nav .company-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -1px;
    display: none;
    z-index: 999; }
  .nav nav .serve-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
    z-index: 999; }
  .nav nav .website-dropdown {
    width: 1198px;
    height: 200px;
    background: slateblue;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -101px;
    display: none;
    z-index: 999; }
  .nav nav .phone-dropdown {
    width: 200px;
    height: 200px;
    background: darkgray;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -1px;
    display: none;
    z-index: 999; }
  .nav nav .left {
    float: left; }
  .nav nav .right {
    float: right; }
  .nav nav .first {
    margin-right: 10px; }
  .nav nav a {
    display: inline-block;
    height: 31px;
    color: #888; }
    .nav nav a i {
      width: 12px;
      height: 13px;
      margin: -4px 0 0 5px;
      background: url(../img/ui.png);
      background-position: -145px -1496px;
      position: static; }
  .nav nav .icon-kefu, .nav nav .icon-phone {
    background-position: 0 -513px;
    color: #dd00a7; }
  .nav nav i {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 7px;
    height: 4px;
    background: url(../img/ui.png);
    background-position: -62px -433px; }

.search_box {
  height: 50px;
  width: 100%;
  background: white;
  position: fixed;
  top: -50px; }

.search {
  overflow: hidden;
  height: 120px;
  position: relative; }
  .search .logo a {
    display: inline-block;
    width: 125px;
    height: 56px;
    margin: 32px 10px 0 0;
    background: url(../img/logo.png) 0 0 no-repeat; }
  .search .logo-gif a {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 35px 0 0 10px;
    background: url(../img/T11wZmBX_T1RCvBVdK.jpg) 0 0 no-repeat; }
  .search .logo, .search .logo-gif {
    float: left; }
  .search form {
    width: 500px;
    height: 52px;
    margin: 34px auto;
    position: relative; }
    .search form .search_hide {
      width: 62px;
      height: 50px;
      border: 1px solid #dd00a7;
      position: absolute;
      top: 31px;
      left: 0;
      z-index: 999;
      background: white;
      display: none; }
      .search form .search_hide a {
        display: block;
        color: #A5A5A5;
        font-size: 14px;
        line-height: 25px;
        height: 25px;
        text-align: center; }
      .search form .search_hide a:hover {
        background: #eee; }
    .search form p {
      width: 502px;
      height: 30px;
      border: 1px solid #dd00a7;
      font-size: 14px;
      color: #A5A5A5;
      line-height: 30px;
      overflow: hidden; }
      .search form p label {
        display: inline-block;
        width: 62px;
        height: 30px;
        border-right: 1px solid #dd00a7;
        text-align: center; }
      .search form p input {
        border: 0;
        outline: none;
        width: 316px;
        height: 30px;
        margin: 0 5px; }
      .search form p span {
        display: inline-block;
        width: 15px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -15px;
        color: #dd00a7; }
      .search form p button {
        border: 0;
        outline: none;
        width: 90px;
        height: 30px;
        background: #dd00a7;
        float: right;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        position: relative; }
    .search form li:first-child {
      color: #f5004b; }
    .search form li {
      height: 20px;
      float: left;
      font-size: 12px;
      line-height: 20px;
      color: #A5A5A5;
      margin-right: 14px; }
  .search .shopcartbox {
    cursor: pointer;
    width: 140px;
    height: 39px;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden; }
    .search .shopcartbox .icon-3 {
      color: #5E5E5E;
      font-size: 31px;
      margin-top: 4px;
      line-height: 39px;
      vertical-align: middle; }
    .search .shopcartbox .count {
      margin-left: 5px;
      font-size: 12px;
      color: #5E5E5E;
      line-height: 39px;
      vertical-align: middle; }
    .search .shopcartbox .active {
      color: #f5004b;
      text-decoration: underline; }
  .search .shopcartbox::after {
    content: "";
    display: inline-block;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #5E5E5E transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 19px; }

.menu {
  height: 38px;
  border-bottom: 1px solid #dd00a7;
  background: #f8f8f8; }
  .menu h2 {
    float: left;
    width: 185px;
    padding-left: 15px;
    background: #f8f8f8; }
    .menu h2 a {
      display: inline-block;
      font-size: 15px;
      color: #585858;
      line-height: 37px; }
    .menu h2 span {
      width: 18px;
      height: 12px;
      margin: 13px 17px;
      float: right;
      background: url(../img/ui.png) 0 -1344px no-repeat;
      display: none; }
  .menu ul {
    float: left; }
    .menu ul li {
      float: left;
      padding: 0 13px; }
      .menu ul li a {
        font-size: 15px;
        line-height: 38px;
        color: #000;
        position: relative; }
      .menu ul li .active {
        color: #f5004b; }
      .menu ul li .third::after, .menu ul li .seventh::after {
        content: "";
        display: block;
        width: 1px;
        height: 13px;
        position: absolute;
        top: 4px;
        right: -13px;
        background: #b2b2b2; }
  .menu .wrap {
    float: right;
    width: 194px;
    height: 38px;
    position: relative;
    overflow: hidden; }
    .menu .wrap ul {
      float: left;
      position: absolute; }
      .menu .wrap ul img {
        width: 170px;
        height: 40px; }
    .menu .wrap .arrow {
      display: inline-block;
      width: 9px;
      height: 5px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
      position: absolute;
      border: 1px solid transparent; }
    .menu .wrap .arrow:hover {
      border: 1px solid #e4e4e4;
      background-color: #efefef; }
    .menu .wrap .arrow_up {
      background-position: -20px -1348px;
      top: 12px;
      right: 0; }
    .menu .wrap .arrow_down {
      background-position: -20px -1353px;
      bottom: 12px;
      right: 0; }

.banner {
  height: 450px;
  background: #eef9ff; }
  .banner .center {
    position: relative; }
  .banner .left {
    width: 200px;
    height: 450px;
    position: relative;
    float: left;
    opacity: .7;
    background: #333; }
    .banner .left li:hover {
      background: white; }
    .banner .left li:hover a {
      color: #333; }
    .banner .left ul li {
      width: 170px;
      height: 30px;
      padding: 0 15px; }
      .banner .left ul li a {
        color: white;
        font-size: 14px;
        line-height: 30px; }
      .banner .left ul li a:hover {
        color: #f5004b; }
  .banner .banner_hide {
    width: 998px;
    height: 448px;
    background: white;
    border: 1px solid #222;
    position: absolute;
    left: 200px;
    display: none;
    z-index: 2222; }
  .banner .middle {
    float: left;
    width: 750px;
    height: 450px;
    position: relative; }
    .banner .middle ul li {
      position: absolute;
      top: 0;
      left: 0; }
    .banner .middle ol {
      width: 304px;
      position: absolute;
      top: 430px;
      left: 223px; }
    .banner .middle ol li {
      width: 30px;
      height: 5px;
      margin: 0 4px;
      background: rgba(0, 0, 0, 0.3);
      float: left;
      cursor: pointer; }
    .banner .middle .active {
      background: #f5004b; }
    .banner .middle .arrow {
      width: 40px;
      height: 80px;
      position: absolute;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat;
      top: 185px;
      background-color: black;
      opacity: 0.2;
      cursor: pointer; }
    .banner .middle #left {
      background-position: 0 -112px;
      right: 42px; }
    .banner .middle #right {
      background-position: -42px -112px;
      right: 0; }
  .banner .right {
    float: left;
    width: 250px;
    height: 430px;
    margin-top: 10px;
    background: white; }
    .banner .right .news {
      height: 146px;
      margin: 0 15px;
      border-bottom: 1px dashed #ccc; }
    .banner .right h3 {
      font-size: 14px;
      float: left;
      color: #333;
      margin-top: 12px;
      font-weight: 400;
      line-height: 21px; }
    .banner .right .news_header a {
      font-size: 12px;
      text-align: center;
      margin-top: 13px;
      color: #888;
      float: right; }
    .banner .right .news_header i {
      width: 5px;
      height: 9px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) -126px -130px no-repeat;
      display: inline-block;
      margin-left: 4px; }
    .banner .right .news_header a:hover {
      color: #f5004b; }
    .banner .right .news li {
      height: 26px;
      font-size: 12px;
      line-height: 26px; }
      .banner .right .news li a:hover {
        color: #f5004b; }
      .banner .right .news li a {
        color: #888; }
      .banner .right .news li span {
        display: inline-block;
        margin-right: 7px; }
    .banner .right .server_box ul {
      padding-left: 15px; }
    .banner .right .server_box li:nth-child(3n) {
      margin-right: 0; }
    .banner .right .server_box li {
      float: left;
      text-align: center;
      width: 55px;
      margin-right: 29px; }
      .banner .right .server_box li span {
        margin: 9px 0;
        display: inline-block;
        font-size: 32px;
        color: #373737; }
      .banner .right .server_box li p {
        color: #5e5e5e;
        font-size: 12px;
        line-height: 20px; }
    .banner .right .server_box li:hover span, .banner .right .server_box li:hover p {
      color: #f5004b; }
    .banner .right .pic {
      position: relative; }
      .banner .right .pic .title_box {
        position: absolute;
        top: 14px;
        left: 15px;
        color: #fff;
        font-size: 12px;
        line-height: 18px; }

main .center {
  padding-top: 20px; }
main .everyday {
  height: 272px; }
  main .everyday .left {
    width: 950px;
    border-width: 1px;
    border-style: solid;
    border-color: #dd00a7 #e6e6e6 #e6e6e6 #e6e6e6;
    float: left; }
    main .everyday .left .header {
      border-bottom: 1px solid #e6e6e6; }
    main .everyday .left h3 {
      width: 201px;
      height: 40px;
      font-size: 18px;
      line-height: 40px;
      color: #f5004b;
      background: url(https://gfs12.gomein.net.cn/T1ovZvBTbb1RCvBVdK.jpeg) no-repeat 5px 0;
      text-indent: 45px;
      float: left; }
    main .everyday .left .timebox {
      width: 239px;
      float: right;
      height: 40px; }
      main .everyday .left .timebox .time {
        font-size: 12px;
        line-height: 40px;
        color: #f5004b; }
      main .everyday .left .timebox .tbox {
        display: inline-block;
        width: 27px;
        height: 27px;
        border-radius: 5px;
        background: #f5004b;
        color: white;
        font-size: 20px;
        line-height: 27px;
        text-align: center; }
      main .everyday .left .timebox .dot {
        font-size: 20px;
        line-height: 40px;
        color: #f5004b; }
    main .everyday .left ul {
      padding-top: 15px;
      height: 195px; }
      main .everyday .left ul li {
        width: 237px;
        height: 179px;
        border-right: 1px solid #eee;
        float: left; }
      main .everyday .left ul li:last-child {
        border: 0;
        width: 236px; }
      main .everyday .left ul img {
        width: 120px;
        height: 120px;
        margin-left: 58px; }
      main .everyday .left ul .p_price {
        margin: 6px 0 0 20px; }
        main .everyday .left ul .p_price .price {
          font-size: 20px;
          line-height: 22px;
          color: #f5004b; }
        main .everyday .left ul .p_price .origin {
          font-size: 12px;
          line-height: 14px;
          color: #999;
          text-decoration: line-through; }
      main .everyday .left ul .title {
        width: 196px;
        overflow: hidden;
        margin-left: 20px;
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        color: #5e5e5e; }
  main .everyday .right {
    float: right; }
    main .everyday .right img {
      width: 240px;
      height: 252px;
      float: right; }
main .bargains {
  height: 481px; }
  main .bargains .picbox {
    border: 1px solid #e6e6e6; }
  main .bargains h2 {
    width: 70px;
    height: 27px;
    margin-top: 28px;
    text-indent: -9999px;
    float: left;
    background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat; }
  main .bargains span {
    display: inline-block;
    padding: 27px 0 0 9px;
    font-size: 20px;
    line-height: 30px;
    color: #ccc; }
  main .bargains .header {
    overflow: hidden; }
  main .bargains .bargains_l, main .bargains .bargains_c {
    width: 422px;
    margin-right: 8px;
    float: left; }
    main .bargains .bargains_l .pic_l, main .bargains .bargains_c .pic_l {
      float: left; }
      main .bargains .bargains_l .pic_l img, main .bargains .bargains_c .pic_l img {
        width: 220px;
        height: 419px; }
    main .bargains .bargains_l .pic_r, main .bargains .bargains_c .pic_r {
      float: left; }
      main .bargains .bargains_l .pic_r img, main .bargains .bargains_c .pic_r img {
        display: block;
        width: 200px;
        height: 209px; }
      main .bargains .bargains_l .pic_r .top, main .bargains .bargains_c .pic_r .top {
        border-bottom: 1px dashed #eee; }
  main .bargains .bargains_r {
    width: 336px;
    float: left; }
    main .bargains .bargains_r .pic_l {
      float: left;
      width: 219px; }
    main .bargains .bargains_r .brands_box {
      float: left;
      width: 115px;
      overflow: hidden;
      text-align: center; }
      main .bargains .bargains_r .brands_box img {
        width: 100px;
        height: 30px;
        margin: 15px 0; }
  main .bargains .bargains_l h2 {
    background-position: -169px -100px; }
  main .bargains .bargains_c h2 {
    background-position: -169px -132px; }
  main .bargains .bargains_r h2 {
    background-position: -169px -164px; }
main .coupon {
  margin-top: 20px; }
  main .coupon li {
    float: left;
    height: 110px; }
  main .coupon .m_a {
    display: inline-block;
    border-right: 1px dashed #ddd;
    width: 207px;
    overflow: hidden; }
    main .coupon .m_a img {
      margin-left: -1px; }
  main .coupon .last_m_a {
    border: 0; }
main .youlike {
  height: 326px; }
  main .youlike .ch {
    font-size: 18px;
    line-height: 27px;
    color: #333;
    margin-top: 28px;
    font-weight: 400;
    float: left; }
  main .youlike .en {
    float: left;
    font-size: 20px;
    line-height: 30px;
    color: #ccc;
    padding: 27px 0 0 9px;
    font-weight: 400; }
  main .youlike .arrow_box {
    margin-top: 30px;
    float: right; }
  main .youlike span {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    color: #666;
    border-radius: 50px;
    border: 1px solid #ccc; }
  main .youlike span:hover {
    color: #f5004b; }
  main .youlike .youlike_main {
    width: 1198px;
    height: 264px;
    border: 1px solid #eee;
    position: relative; }
  main .youlike .youlike_main ul {
    margin-right: -2px;
    position: absolute;
    opacity: 0; }
  main .youlike .youlike_main .active {
    opacity: 1; }
  main .youlike .youlike_main li {
    width: 200px;
    height: 224px;
    margin-top: 20px;
    float: left; }
  main .youlike .youlike_main li:hover .title {
    color: #f5004b; }
  main .youlike .youlike_main a {
    display: inline-block;
    width: 199px;
    height: 210px;
    border-right: 1px dashed #eee;
    padding-top: 15px; }
    main .youlike .youlike_main a img {
      margin-left: 40px;
      width: 120px;
      height: 120px; }
    main .youlike .youlike_main a .title {
      width: 167px;
      height: 36px;
      overflow: hidden;
      margin: 32px 0 0 20px;
      color: #5e5e5e;
      font-size: 12px;
      line-height: 18px; }
    main .youlike .youlike_main a .price {
      color: #f5004b;
      line-height: 16px;
      height: 16px;
      margin: 8px 0 0 20px;
      font-size: 16px; }
  main .youlike .youlike_main .last_a {
    border: 0; }
main .oneF {
  height: 541px; }
  main .oneF .header {
    border-bottom: 1px solid #719ef7; }
    main .oneF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .oneF .header .tab {
      float: right;
      margin-top: 8px; }
      main .oneF .header .tab li {
        float: left; }
      main .oneF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .oneF .header .active {
      background: #719ef7; }
      main .oneF .header .active a {
        color: white; }
  main .oneF .bottom section {
    float: left; }
  main .oneF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .oneF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .oneF .bottom .oneF_l img {
      margin-left: -10px; }
    main .oneF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .oneF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .oneF .bottom .oneF_l .middle a {
      color: white; }
    main .oneF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .oneF .bottom .oneF_l .bottom ul {
      float: left; }
    main .oneF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .oneF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .oneF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .oneF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .oneF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .oneF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .oneF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .oneF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .oneF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .oneF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .oneF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .oneF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .oneF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .oneF .bottom .oneF_r:hover .next {
    display: block; }
main .twoF {
  height: 541px; }
  main .twoF .header {
    border-bottom: 1px solid #719ef7; }
    main .twoF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .twoF .header .tab {
      float: right;
      margin-top: 8px; }
      main .twoF .header .tab li {
        float: left; }
      main .twoF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .twoF .header .active {
      background: #719ef7; }
      main .twoF .header .active a {
        color: white; }
  main .twoF .bottom section {
    float: left; }
  main .twoF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .twoF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .twoF .bottom .oneF_l img {
      margin-left: -10px; }
    main .twoF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .twoF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .twoF .bottom .oneF_l .middle a {
      color: white; }
    main .twoF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .twoF .bottom .oneF_l .bottom ul {
      float: left; }
    main .twoF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .twoF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .twoF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .twoF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .twoF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .twoF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .twoF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .twoF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .twoF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .twoF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .twoF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .twoF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .twoF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .twoF .bottom .oneF_r:hover .next {
    display: block; }
main .threeF {
  height: 541px; }
  main .threeF .header {
    border-bottom: 1px solid #719ef7; }
    main .threeF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .threeF .header .tab {
      float: right;
      margin-top: 8px; }
      main .threeF .header .tab li {
        float: left; }
      main .threeF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .threeF .header .active {
      background: #719ef7; }
      main .threeF .header .active a {
        color: white; }
  main .threeF .bottom section {
    float: left; }
  main .threeF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .threeF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .threeF .bottom .oneF_l img {
      margin-left: -10px; }
    main .threeF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .threeF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .threeF .bottom .oneF_l .middle a {
      color: white; }
    main .threeF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .threeF .bottom .oneF_l .bottom ul {
      float: left; }
    main .threeF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .threeF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .threeF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .threeF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .threeF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .threeF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .threeF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .threeF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .threeF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .threeF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .threeF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .threeF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .threeF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .threeF .bottom .oneF_r:hover .next {
    display: block; }
main .fourF {
  height: 541px; }
  main .fourF .header {
    border-bottom: 1px solid #719ef7; }
    main .fourF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .fourF .header .tab {
      float: right;
      margin-top: 8px; }
      main .fourF .header .tab li {
        float: left; }
      main .fourF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .fourF .header .active {
      background: #719ef7; }
      main .fourF .header .active a {
        color: white; }
  main .fourF .bottom section {
    float: left; }
  main .fourF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .fourF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .fourF .bottom .oneF_l img {
      margin-left: -10px; }
    main .fourF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .fourF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .fourF .bottom .oneF_l .middle a {
      color: white; }
    main .fourF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .fourF .bottom .oneF_l .bottom ul {
      float: left; }
    main .fourF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .fourF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .fourF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .fourF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .fourF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .fourF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .fourF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .fourF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .fourF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .fourF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .fourF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .fourF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .fourF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .fourF .bottom .oneF_r:hover .next {
    display: block; }
main .fiveF {
  height: 541px; }
  main .fiveF .header {
    border-bottom: 1px solid #719ef7; }
    main .fiveF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .fiveF .header .tab {
      float: right;
      margin-top: 8px; }
      main .fiveF .header .tab li {
        float: left; }
      main .fiveF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .fiveF .header .active {
      background: #719ef7; }
      main .fiveF .header .active a {
        color: white; }
  main .fiveF .bottom section {
    float: left; }
  main .fiveF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .fiveF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .fiveF .bottom .oneF_l img {
      margin-left: -10px; }
    main .fiveF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .fiveF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .fiveF .bottom .oneF_l .middle a {
      color: white; }
    main .fiveF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .fiveF .bottom .oneF_l .bottom ul {
      float: left; }
    main .fiveF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .fiveF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .fiveF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .fiveF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .fiveF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .fiveF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .fiveF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .fiveF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .fiveF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .fiveF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .fiveF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .fiveF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .fiveF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .fiveF .bottom .oneF_r:hover .next {
    display: block; }
main .sixF {
  height: 541px; }
  main .sixF .header {
    border-bottom: 1px solid #719ef7; }
    main .sixF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .sixF .header .tab {
      float: right;
      margin-top: 8px; }
      main .sixF .header .tab li {
        float: left; }
      main .sixF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .sixF .header .active {
      background: #719ef7; }
      main .sixF .header .active a {
        color: white; }
  main .sixF .bottom section {
    float: left; }
  main .sixF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .sixF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .sixF .bottom .oneF_l img {
      margin-left: -10px; }
    main .sixF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .sixF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .sixF .bottom .oneF_l .middle a {
      color: white; }
    main .sixF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .sixF .bottom .oneF_l .bottom ul {
      float: left; }
    main .sixF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .sixF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .sixF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .sixF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .sixF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .sixF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .sixF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .sixF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .sixF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .sixF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .sixF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .sixF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .sixF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .sixF .bottom .oneF_r:hover .next {
    display: block; }
main .sevenF {
  height: 541px; }
  main .sevenF .header {
    border-bottom: 1px solid #719ef7; }
    main .sevenF .header h2 {
      width: 210px;
      float: left;
      font-size: 20px;
      line-height: 38px; }
    main .sevenF .header .tab {
      float: right;
      margin-top: 8px; }
      main .sevenF .header .tab li {
        float: left; }
      main .sevenF .header .tab a {
        display: inline-block;
        width: 56px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #5e5e5e;
        line-height: 30px; }
    main .sevenF .header .active {
      background: #719ef7; }
      main .sevenF .header .active a {
        color: white; }
  main .sevenF .bottom section {
    float: left; }
  main .sevenF .bottom .oneF_l {
    width: 210px;
    height: 470px; }
    main .sevenF .bottom .oneF_l a:hover {
      text-decoration: underline; }
    main .sevenF .bottom .oneF_l img {
      margin-left: -10px; }
    main .sevenF .bottom .oneF_l .middle ul {
      padding: 0 15px;
      background: #6294f6;
      width: 180px; }
    main .sevenF .bottom .oneF_l .middle li {
      float: left;
      font-size: 14px;
      line-height: 32px;
      color: white; }
    main .sevenF .bottom .oneF_l .middle a {
      color: white; }
    main .sevenF .bottom .oneF_l .bottom {
      width: 210px;
      height: 160px;
      background: #719ef7; }
    main .sevenF .bottom .oneF_l .bottom ul {
      float: left; }
    main .sevenF .bottom .oneF_l .bottom a {
      font-size: 12px;
      line-height: 28px;
      color: white; }
    main .sevenF .bottom .oneF_l .bottom .l {
      margin: 8px 0 15px 15px; }
    main .sevenF .bottom .oneF_l .bottom .c {
      margin: 8px 0 15px 10px; }
    main .sevenF .bottom .oneF_l .bottom .r {
      margin: 8px 15px 15px 10px; }
  main .sevenF .bottom .oneF_r {
    width: 990px;
    height: 470px;
    position: relative; }
    main .sevenF .bottom .oneF_r ul {
      display: none;
      position: absolute; }
    main .sevenF .bottom .oneF_r li {
      float: left;
      width: 197px;
      height: 234px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
    main .sevenF .bottom .oneF_r li:hover .title {
      color: #f5004b; }
    main .sevenF .bottom .oneF_r img {
      width: 130px;
      height: 130px;
      margin: 20px 0 15px 34px; }
    main .sevenF .bottom .oneF_r .title {
      width: 157px;
      height: 36px;
      margin-left: 20px;
      font-size: 12px;
      color: #5e5e5e;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    main .sevenF .bottom .oneF_r .price {
      height: 20px;
      line-height: 26px;
      color: #f5004b;
      font-size: 14px;
      margin-left: 20px; }
    main .sevenF .bottom .oneF_r .next {
      width: 30px;
      height: 60px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -84px -74px;
      cursor: pointer;
      position: absolute;
      top: 205px;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.3;
      display: none; }
    main .sevenF .bottom .oneF_r .next:hover {
      opacity: 0.5; }
  main .sevenF .bottom .oneF_r:hover .next {
    display: block; }
main .hot {
  height: 400px; }
  main .hot .hot_l {
    width: 830px;
    float: left; }
  main .hot .hot_header {
    height: 60px;
    overflow: hidden; }
    main .hot .hot_header a {
      float: right;
      padding-top: 33px;
      font-size: 12px;
      line-height: 18px;
      color: #5e5e5e; }
      main .hot .hot_header a i {
        font-style: normal; }
      main .hot .hot_header a i:hover {
        color: #f5004b; }
      main .hot .hot_header a .arrow {
        width: 10px;
        height: 14px;
        display: inline-block;
        background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -123px -126px;
        margin-left: 3px; }
  main .hot h3 {
    float: left; }
  main .hot .ch {
    font-size: 18px;
    color: #333;
    margin-top: 28px;
    font-weight: 400;
    line-height: 27px; }
  main .hot .en {
    font-size: 20px;
    color: #ccc;
    padding: 27px 0 0 9px;
    line-height: 30px;
    font-weight: 400; }
  main .hot .hot_main {
    border: 1px solid #eee;
    width: 828px; }
  main .hot .hot_main .NO1 {
    display: block;
    width: 280px;
    height: 338px;
    border-right: 1px solid #eee;
    float: left;
    position: relative;
    text-align: center; }
    main .hot .hot_main .NO1 img {
      margin: 30px 0 29px;
      width: 210px;
      height: 210px; }
    main .hot .hot_main .NO1 p {
      margin-left: 20px;
      line-height: 24px;
      font-size: 16px;
      width: 240px;
      height: 24px; }
    main .hot .hot_main .NO1 .title {
      overflow: hidden;
      color: #404040; }
    main .hot .hot_main .NO1 .price {
      color: #f5004b; }
    main .hot .hot_main .NO1 span {
      display: block;
      width: 72px;
      height: 72px;
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: 1;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat -52px 0; }
  main .hot .hot_main .NO1:hover .title {
    color: #f5004b; }
  main .hot .other li {
    width: 274px;
    height: 168px;
    border-right: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    position: relative;
    float: left;
    margin-right: -2px;
    overflow: hidden; }
    main .hot .other li img {
      width: 120px;
      height: 120px;
      float: left;
      margin: 25px 10px 0; }
    main .hot .other li .detail {
      float: left; }
    main .hot .other li .detail_title {
      font-size: 13px;
      line-height: 20px;
      color: #5e5e5e;
      height: 40px;
      width: 120px;
      overflow: hidden;
      padding-top: 29px; }
    main .hot .other li .detail_price {
      line-height: 14px;
      overflow: hidden;
      margin-top: 8px;
      font-size: 14px;
      color: #f5004b;
      height: 14px;
      width: 120px; }
    main .hot .other li b {
      display: block;
      width: 70px;
      height: 77px;
      position: absolute;
      right: 10px;
      top: 39px;
      font-size: 125px;
      color: #f9f7f5;
      font-style: italic; }
  main .hot .other li:hover .detail_title {
    color: #f5004b; }
  main .hot .hot_r {
    width: 361px;
    float: right; }
  main .hot .service_header {
    height: 60px;
    overflow: hidden; }
    main .hot .service_header p {
      float: right;
      overflow: hidden; }
    main .hot .service_header a, main .hot .service_header span {
      display: inline-block;
      margin-top: 33px;
      font-size: 12px;
      line-height: 18px;
      color: #5e5e5e; }
      main .hot .service_header a i, main .hot .service_header span i {
        font-style: normal; }
      main .hot .service_header a i:hover, main .hot .service_header span i:hover {
        color: #f5004b; }
  main .hot .service_main {
    width: 359px;
    height: 338px;
    border: 1px solid #eee;
    background: #fcfcfc; }
    main .hot .service_main li {
      position: relative; }
    main .hot .service_main img {
      width: 110px;
      height: 110px;
      background: #f6f6f6;
      border-radius: 68px;
      display: block;
      margin: 29px 40px 30px 30px;
      float: left; }
    main .hot .service_main .detail {
      float: left;
      overflow: hidden; }
    main .hot .service_main .detail_title {
      height: 16px;
      font-size: 16px;
      line-height: 16px;
      margin-top: 24px;
      color: #404040; }
    main .hot .service_main .detail_price {
      margin-top: 14px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
      color: #f5004b; }
      main .hot .service_main .detail_price span {
        font-size: 12px;
        color: #888; }
    main .hot .service_main .detail_hlep {
      margin-top: 39px; }
      main .hot .service_main .detail_hlep p {
        color: #888;
        font-size: 12px;
        line-height: 18px; }
    main .hot .service_main .first {
      border-bottom: 1px dashed #eee; }
    main .hot .service_main li:hover .detail_title {
      color: #f5004b; }
    main .hot .service_main .house_ser {
      width: 56px;
      overflow: hidden;
      position: absolute;
      top: 90px;
      left: 90px; }
      main .hot .service_main .house_ser span {
        width: 48px;
        padding: 0 4px;
        margin-top: 4px;
        background: #dd00a7;
        color: white;
        font-size: 12px;
        line-height: 18px; }

footer {
  border-top: 1px solid #dd00a7;
  background: #f7f7f7;
  padding-top: 20px; }
  footer .top {
    position: relative; }
    footer .top span {
      display: inline-block;
      width: 265px;
      height: 45px;
      padding: 0 50px 40px 0; }
      footer .top span i {
        width: 45px;
        height: 45px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
        float: left; }
      footer .top span p {
        float: left;
        margin-left: 10px; }
      footer .top span strong {
        display: block;
        font-weight: 400;
        color: #333;
        font-size: 16px;
        line-height: 25px; }
      footer .top span a {
        color: #999;
        font-size: 12px;
        line-height: 20px; }
    footer .top span:first-child i {
      background-position: 0 -135px; }
    footer .top span:nth-child(2) i {
      background-position: -45px -135px; }
    footer .top li {
      float: left;
      padding-right: 13px; }
      footer .top li a {
        font-size: 12px;
        line-height: 22px;
        color: #666; }
    footer .top p {
      color: #999;
      font-size: 12px;
      line-height: 22px; }
      footer .top p a {
        color: #999; }
    footer .top .qrcode-section {
      width: 250px;
      height: 112px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center; }
      footer .top .qrcode-section span {
        padding: 0;
        font-size: 12px;
        line-height: 22px;
        color: #999;
        float: left; }
        footer .top .qrcode-section span p {
          margin: 0; }
      footer .top .qrcode-section i {
        display: inline-block; }
      footer .top .qrcode-section .sm {
        width: 50px;
        height: 47px;
        margin: 0 10px; }
        footer .top .qrcode-section .sm i {
          width: 40px;
          height: 25px;
          background-image: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png);
          background-repeat: no-repeat; }
        footer .top .qrcode-section .sm p {
          width: 50px; }
      footer .top .qrcode-section .wx i {
        background-position: -105px -135px; }
      footer .top .qrcode-section .phone i {
        background-position: -185px -135px; }
      footer .top .qrcode-section .big {
        width: 110px;
        height: 112px; }
        footer .top .qrcode-section .big i {
          width: 90px;
          height: 90px;
          margin-left: 10px;
          background: url(https://gfs11.gomein.net.cn/T1uZdyBXCT1RCvBVdK.jpg) no-repeat; }
        footer .top .qrcode-section .big p {
          width: 110px; }
  footer .bottom {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 25px 0; }
    footer .bottom a {
      display: inline-block;
      width: 120px;
      vertical-align: top; }
      footer .bottom a i {
        float: left;
        width: 35px;
        height: 35px;
        background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat; }
      footer .bottom a p {
        font-size: 12px;
        line-height: 18px;
        color: #999; }
    footer .bottom .big {
      width: 170px; }
    footer .bottom a:first-child i {
      background-position: 0 -180px; }
    footer .bottom a:nth-child(2) i {
      background-position: -35px -180px; }
    footer .bottom a:nth-child(3) i {
      background-position: -70px -180px; }
    footer .bottom a:nth-child(4) i {
      background-position: -105px -180px; }
    footer .bottom a:nth-child(5) i {
      background-position: -140px -180px; }
    footer .bottom a:nth-child(6) i {
      background-position: -175px -180px; }
    footer .bottom a:nth-child(7) i {
      background-position: -238px -180px; }

#elevator {
  position: fixed;
  text-align: center;
  bottom: 150px;
  left: 40px;
  background: white; }
  #elevator .fl_nav {
    width: 66px;
    height: 32px;
    background: #f6f6f6;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    line-height: 31px;
    border: 1px solid #e6e6e6; }
  #elevator ul {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6; }
  #elevator li {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden; }
  #elevator .louti .active {
    color: #f5004b; }
    #elevator .louti .active span {
      color: #f5004b; }
    #elevator .louti .active b {
      display: block; }
  #elevator .louti li:hover, #elevator .louti li:hover span {
    color: #f5004b; }
  #elevator .louti li {
    width: 64px;
    height: 43px;
    font-size: 12px;
    color: #5e5e5e;
    position: relative; }
    #elevator .louti li b {
      position: absolute;
      width: 10px;
      height: 10px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) -152px 0 no-repeat;
      top: 0;
      left: 0;
      display: none; }
    #elevator .louti li span {
      height: 12px;
      line-height: 12px;
      color: #777;
      padding-top: 8px;
      padding-bottom: 1px;
      display: inline-block; }
    #elevator .louti li p {
      line-height: 16px; }
  #elevator .arrow li:first-child:hover a {
    background-position: -216px -78px; }
  #elevator .arrow li:nth-child(2):hover a {
    background-position: -216px -26px; }
  #elevator .arrow li {
    height: 29px; }
    #elevator .arrow li a {
      display: inline-block;
      width: 17px;
      height: 9px;
      margin-top: 10px;
      background: url(https://app.gomein.net.cn/gmpro/2.0.0/channel/newindex/8.5.7/css/i/ui.png) no-repeat; }
    #elevator .arrow li .arrow_up {
      background-position: -216px -52px; }
    #elevator .arrow li .arrow_down {
      background-position: -216px 0; }

.aside {
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #5c5c5c;
  z-index: 9999; }
  .aside li:hover {
    background-color: #333; }
  .aside .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 7px 0;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat; }
  .aside .top_ul {
    position: absolute;
    right: 0;
    top: 218px;
    text-align: center; }
    .aside .top_ul li {
      border-bottom: 1px solid #ccc; }
    .aside .top_ul .us_box {
      width: 35px;
      height: 39px; }
    .aside .top_ul .us {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-top: 9px;
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -18px -1025px; }
    .aside .top_ul i {
      background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat -24px -1046px !important;
      height: 20px;
      width: 31px;
      display: block !important;
      margin-bottom: 3px; }
    .aside .top_ul span {
      display: inline-block;
      width: 12px;
      font-size: 12px;
      line-height: 18px;
      color: white; }
    .aside .top_ul .cart_box {
      width: 35px;
      height: 100px;
      padding-top: 20px; }
    .aside .top_ul .favo {
      background-position: -71px -1023px; }
  .aside .bottom_ul {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 35px; }
    .aside .bottom_ul .code {
      background-position: -212px -473px; }
    .aside .bottom_ul .search {
      background-position: -212px -493px; }
    .aside .bottom_ul .service {
      background-position: -212px -513px; }
    .aside .bottom_ul .arrow {
      background-position: -212px -533px; }

.gome_help_box {
  overflow: hidden; }

.gome-help {
  margin-top: 30px; }
  .gome-help .header {
    background: #f5f5f5;
    padding: 15px 0;
    overflow: hidden; }
  .gome-help .header li {
    float: left;
    width: 33%;
    text-align: center; }
  .gome-help .header span {
    display: inline-block;
    width: 40px;
    height: 42px;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat;
    vertical-align: middle;
    margin-right: 10px; }
  .gome-help .header .l {
    background-position: 0 -1469px; }
  .gome-help .header .c {
    background-position: -40px -1469px; }
  .gome-help .header .r {
    background-position: -80px -1469px; }
  .gome-help .header .attr {
    line-height: 40px;
    font-size: 18px;
    line-height: 37px;
    font-weight: bold;
    color: #404040; }
  .gome-help .header b {
    margin: 0 16px;
    color: #ccc;
    display: inline-block;
    width: 3px;
    height: 10px;
    background: url(https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/ui.png);
    vertical-align: middle;
    background-position: -120px -1489px; }
  .gome-help .header .detail {
    font-weight: 400;
    line-height: 40px;
    font: 700 18px/37px;
    color: #404040; }
  .gome-help .header a:hover {
    color: #f5004b; }

.hlep_main {
  width: 1320px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px; }
  .hlep_main dl {
    float: left;
    width: 9%;
    padding: 15px 0 0 125px;
    white-space: nowrap; }
  .hlep_main dt {
    font: 16px/25px;
    color: #5e5e5e; }
  .hlep_main a {
    font-size: 12px;
    line-height: 22px;
    color: #a5a5a5; }
  .hlep_main a:hover {
    color: #f5004b; }

/*# sourceMappingURL=index.css.map */
